# Mandatory settings

name: Chalk
paginate: 25
url: http://chalk.nielsenramon.com
blog_theme: light

# Optional settings

discus_identifier: chalk-1
ga_analytics: UA-28631876-6
rss_enabled: true
about_enabled: false # Change to true if you wish to show an icon in the navigation that redirects to the about page
social:
  dribbble: nielsenramon
  github: nielsenramon
  twitter: nielsenramon

# Important settings (change at own risk)

assets:
  features:
    automatic_img_size: false
  sources:
    - _assets/bower
    - _assets/fonts
    - _assets/images
    - _assets/javascripts
    - _assets/stylesheets
    - _vendor/
collections:
  my_tags:
    output: true
    permalink: /tag/:slug/
defaults:
  -
    scope:
      path: ""
      type: my_tags
    values:
      layout: articles_by_tag
exclude:
  - .bowerrc
  - .travis.yml
  - bin/*
  - bower.json
  - circle.yml
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor/
gems:
  - jekyll-assets
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji
paginate_path: "/posts/page/:num/"
permalink: posts/:slug
