<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include head/structured-data/all-structured-data.html %}

  <link href="{{ 'feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="{{ site.name }} Last 10 blog posts" />

  {% if site.local_fonts %}
    {% asset fonts.css %}
  {% endif %}

  {% if site.blog_theme == "light" %}
    <link rel="icon" type="image/x-icon" href="{% asset favicon-light.ico @path %}">
    <link rel="apple-touch-icon" href="{% asset apple-touch-icon-light.png @path %}">
    {% asset light.css %}
  {% else %}
    <link rel="icon" type="image/x-icon" href="{% asset favicon-dark.ico @path %}">
    <link rel="apple-touch-icon" href="{% asset apple-touch-icon-dark.png @path %}">
    {% asset dark.css %}
  {% endif %}
</head>
