{% if site.ga_analytics %}
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','{{ site.ga_analytics }}','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
{% endif %}

{% include javascript.html path="vendor" %}

{% unless site.local_fonts %}
  {% include javascript.html path="webfonts" %}
{% endunless %}

{% if site.scrollappear_enabled %}
  {% include javascript.html path="scrollappear" %}
{% endif %}

{% include javascript.html path="application" %}
