<nav class="header-nav">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{% asset idelic.svg width="192px" %}</a>
  <ul class="header-links">
    <li>Engineering Blog</li>
    {% if site.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}" title="About me">
          {% include svg-icon.html icon="about" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social.twitter }}" rel="noreferrer noopener" target="_blank" title="Twitter">
          {% include svg-icon.html icon="twitter" %}
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
