@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/cormorant-garamond/Cormorant-Garamond-700.eot");
  src: url("/assets/cormorant-garamond/Cormorant-Garamond-700.eot?#iefix") format("embedded-opentype"), local("Cormorant Garamond Medium"), local("Cormorant-Garamond-600"), url("/assets/cormorant-garamond/Cormorant-Garamond-700.woff2") format("woff2"), url("/assets/cormorant-garamond/Cormorant-Garamond-700.woff") format("woff"), url("/assets/cormorant-garamond/Cormorant-Garamond-700.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("/assets/lato/Lato-300.eot");
  src: url("/assets/lato/Lato-300.eot?#iefix") format("embedded-opentype"), local("Lato Light"), local("Lato-300"), url("/assets/lato/Lato-300.woff2") format("woff2"), url("/assets/lato/Lato-300.woff") format("woff"), url("/assets/lato/Lato-300.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/lato/Lato-regular.eot");
  src: url("/assets/lato/Lato-regular.eot?#iefix") format("embedded-opentype"), local("Lato Regular"), local("Lato-regular"), url("/assets/lato/Lato-regular.woff2") format("woff2"), url("/assets/lato/Lato-regular.woff") format("woff"), url("/assets/lato/Lato-regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/lato/Lato-700.eot");
  src: url("/assets/lato/Lato-700.eot?#iefix") format("embedded-opentype"), local("Lato Bold"), local("Lato-700"), url("/assets/lato/Lato-700.woff2") format("woff2"), url("/assets/lato/Lato-700.woff") format("woff"), url("/assets/lato/Lato-700.ttf") format("truetype"); }
