// =============================================================================
// Articles
// =============================================================================

.article {
  display: block;
  margin: 100px 0;
}

.article-list {
  display: block;
  padding: 0;
  margin: 50px 0;
  list-style: none;
  li {
    position: relative;
    display: block;
    padding: 50px 0;
    border-bottom: 1px solid $base-border-color;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.article-list-item {
  h5 {
    display: inline-block;
    color: $gray-darkest;
    border-bottom: 1px solid transparent;
    transition: border-color $base-transition-speed linear;
    &:hover {
      border-color: $gray-dark;
    }
  }
  p {
    display: block;
    margin: 12px 0 10px;
    font-size: 15px;
    color: $gray-dark;
  }
}

.article-list-footer {
  display: block;
  span,
  a {
    display: inline-block;
    font-size: 12px;
    color: $gray-light;
    text-transform: uppercase;
    vertical-align: middle;
  }
  a {
    color: $gray-dark;
  }
}

.article-list-divider {
  margin: 0 15px;
}

.article-list-date {
  display: inline-block;
  font-size: 16px;
  color: $gray-lighter;
  vertical-align: middle;
}

.article-subtitle {
  display: block;
  padding: 5px 0 0;
  margin-bottom: 30px;
  color: $gray-light;
}

.article-content {
  display: block;
  p,
  ul,
  ol,
  img,
  blockquote {
    display: block;
    margin-bottom: 30px;
  }
  h2,
  h3,
  h4 {
    display: block;
    margin-bottom: 10px;
    font-family: $sans-serif;
    color: $gray-darkest;
  }
  blockquote p {
    margin-bottom: 0;
  }
}

.article-comments {
  display: block;
  padding-top: 20px;
  margin-top: 100px;
  border-top: 1px solid $base-border-color;
}
