// =============================================================================
// Articles
// =============================================================================

.article {
  display: block;
  margin: 100px 0;
}

.article-list {
  display: block;
  padding: 0;
  margin: 50px 0;
  list-style: none;
  li {
    position: relative;
    display: block;
    padding: 50px 0;
    border-bottom: 1px solid $base-border-color;
    &:last-child {
      border-bottom: 0;
    }
    &.article-pagination {
      display: table;
      width: 100%;
      margin-top: -15px;
      a {
        display: inline-block;
        padding-top: 6px;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .1em;
        color: $gray;
        text-decoration: none;
        text-transform: uppercase;
        transition: color $base-transition-speed linear;
        svg {
          width: 16px;
          height: 16px;
          vertical-align: middle;
          margin: -2px 8px 0 8px;
          fill: $gray;
        }

        &:hover svg {
          fill: $article-paginator-color-hover;
        }

        &:hover {
          color: $article-paginator-color-hover;
        }
      }
    }
  }
}

.article-list-item {
  a {
    text-decoration: none;
    h5 {
      position: relative;
      display: block;
      padding-right: 25px;
      color: $article-header-title-color;
      border-bottom: 1px solid transparent;
      svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin: -2px 8px 0 8px;
        fill: $article-header-title-color;
        opacity: 0;
        transition: opacity $base-transition-speed linear;
      }
    }
    &:hover h5 svg {
      opacity: 1;
    }
  }
  p {
    display: block;
    margin: 12px 0 10px;
    font-size: 15px;
    color: $article-header-description-color;
  }
}

.article-list-footer {
  display: block;
  span,
  a {
    display: inline-block;
    font-size: 12px;
    color: $article-footer-color;
    text-transform: uppercase;
    vertical-align: middle;
  }
  a {
    margin-right: 7.5px;
    color: $article-footer-link-color;
    &:hover {
      color: $article-footer-link-color-hover;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.article-list-divider {
  margin: 0 15px;
}

.article-list-tags {
  display: inline-block;
  vertical-align: top;
}

.article-empty {
  display: block;
  margin: 100px 0;
  font-style: italic;
  color: $gray-light;
  text-align: center;
}

// Paginator
// =============================================================================

.article-pagination-right {
  float: right;
}

// Article page
// =============================================================================

.article-header {
  display: block;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $base-border-color;
  p {
    display: block;
    margin: 12px 0 10px;
    font-size: $base-font-size;
    color: $article-header-description-color;
  }
  a {
    text-decoration: none;
  }
}

.article-content {
  display: block;
  p,
  ul,
  ol,
  img,
  blockquote {
    display: block;
    margin-bottom: 30px;
  }
  h2,
  h3,
  h4 {
    display: block;
    margin-bottom: 10px;
    font-family: $sans-serif;
    color: $article-post-titles-color;
  }
  blockquote p {
    margin-bottom: 0;
  }
  img.emoji {
    display: inline-block;
    margin-top: -4px;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.article-comments {
  display: block;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px solid $base-border-color;
}

.article-share {
  display: block;
  margin-top: -4px;
  a {
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
    svg {
      vertical-align: middle;
      transition: fill $base-transition-speed linear;
      fill: $gray-light;
      width: 20px;
    }
    &:hover svg {
      fill: $gray-dark;
    }
  }
}

// Responsive
// =============================================================================

@include breakpoint(small) {
  .article-list-footer {
    display: block;
  }
  .article-list-divider:last-of-type {
    display: none;
  }
  .article-list-tags {
    display: block;
    margin-top: -7px;
  }
}
