// =============================================================================
// Buttons
// =============================================================================

// Settings
// =============================================================================

// Scaffold buttons with a given color and background.
// @param {Hex} $background color for the button background.
// @param {Hex} $font color for the button text.

@mixin button-generator($color) {
  color: darken($color, 5);
  border-color: $color;
  &:hover {
    color: lighten($color, 10);
    border-color: lighten($color, 5);
  }
  &:focus,
  &:active {
    color: darken($color, 10);
    background-color: transparent;
    border-color: darken($color, 10);
    outline: none;
  }
}

// Component
// =============================================================================

.button {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  transition: all $base-transition-speed ease-in-out;
  appearance: none;
  user-select: none;
  &:disabled,
  &.is-disabled {
    color: $gray-light;
    cursor: not-allowed;
    background-color: $gray-lightest;
    &:hover,
    &:focus,
    &:active {
      color: $gray-light;
      background-color: $gray-lightest;
      outline: none;
    }
  }
}

// Descendants
// =============================================================================

// Basic generated buttons

.button-default {
  @include button-generator($gray-light);
}

.button-danger {
  @include button-generator($brand-danger);
}

.button-primary {
  @include button-generator($brand-primary);
}

.button-success {
  @include button-generator($brand-success);
}

.button-warning {
  @include button-generator($brand-warning);
}
