@charset "UTF-8";

/* cyrillic-ext */
@font-face {
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'), url(asset_path("iEjm9hVxcattz37Y8gZwVfbKkCA3_iqcZigNbmRSp0yAxg1Bnw5F8n5M1Q3pc3xZ.woff2")) format('woff2');
unicode-range: U + 0460-052F, U + 20B4, U + 2DE0-2DFF, U + A640-A69F;
}

/* cyrillic */
@font-face {
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'), url(asset_path("iEjm9hVxcattz37Y8gZwVSomDFS9AtBwFrCsPF_E_PSAxg1Bnw5F8n5M1Q3pc3xZ.woff2")) format('woff2');
unicode-range: U + 0400-045F, U + 0490-0491, U + 04B0-04B1, U + 2116;
}

/* vietnamese */
@font-face {
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'), url(asset_path("iEjm9hVxcattz37Y8gZwVY7qZjy_Xm_jZLlhObbJbR6Axg1Bnw5F8n5M1Q3pc3xZ.woff2")) format('woff2');
unicode-range: U + 0102-0103, U + 1EA0-1EF9, U + 20AB;
}

/* latin-ext */
@font-face {
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'), url(asset_path("iEjm9hVxcattz37Y8gZwVSfwy4cjTmAIFnWxzfE8ZNqAxg1Bnw5F8n5M1Q3pc3xZ.woff2")) format('woff2');
unicode-range: U + 0100-024F, U + 1E00-1EFF, U + 20A0-20AB, U + 20AD-20CF, U + 2C60-2C7F, U + A720-A7FF;
}

/* latin */
@font-face {
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'), url(asset_path("iEjm9hVxcattz37Y8gZwVbjc4bCm_8Dts5aX4NvyYteglnMp3_3A8V8Ai8YosRtX.woff2")) format('woff2');
unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02C6, U + 02DA, U + 02DC, U + 2000-206F, U + 2074, U + 20AC, U + 2212, U + 2215;
}

/* latin-ext */
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 300;
src: local('Lato Light'), local('Lato-Light'), url(asset_path("IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2")) format('woff2');
unicode-range: U + 0100-024F, U + 1E00-1EFF, U + 20A0-20AB, U + 20AD-20CF, U + 2C60-2C7F, U + A720-A7FF;
}

/* latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 300;
src: local('Lato Light'), local('Lato-Light'), url(asset_path("22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2")) format('woff2');
unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02C6, U + 02DA, U + 02DC, U + 2000-206F, U + 2074, U + 20AC, U + 2212, U + 2215;
}

/* latin-ext */
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
src: local('Lato Regular'), local('Lato-Regular'), url(asset_path("8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2")) format('woff2');
unicode-range: U + 0100-024F, U + 1E00-1EFF, U + 20A0-20AB, U + 20AD-20CF, U + 2C60-2C7F, U + A720-A7FF;
}

/* latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
src: local('Lato Regular'), local('Lato-Regular'), url(asset_path("MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2")) format('woff2');
unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02C6, U + 02DA, U + 02DC, U + 2000-206F, U + 2074, U + 20AC, U + 2212, U + 2215;
}

/* latin-ext */
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
src: local('Lato Bold'), local('Lato-Bold'), url(asset_path("rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2")) format('woff2');
unicode-range: U + 0100-024F, U + 1E00-1EFF, U + 20A0-20AB, U + 20AD-20CF, U + 2C60-2C7F, U + A720-A7FF;
}

/* latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
src: local('Lato Bold'), local('Lato-Bold'), url(asset_path("MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2")) format('woff2');
unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02C6, U + 02DA, U + 02DC, U + 2000-206F, U + 2074, U + 20AC, U + 2212, U + 2215;
}
