// =============================================================================
// Icons
// =============================================================================

// Settings
// =============================================================================

@charset "UTF-8";

@font-face {
  font-family: ionicons;
  src: url(font_path("ionicons/ionicons.eot?#iefix")) format("embedded-opentype"),
  url(font_path("ionicons/ionicons.woff")) format("woff"),
  url(font_path("ionicons/ionicons.ttf"))  format("truetype");
}

// Component
// =============================================================================

.icon {
  display: inline-block;
  width: 1.1em;
  font-family: ionicons;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

// Descendant
// =============================================================================

$ionicons-prefix: icon- !default;
$ionicon-android-camera: "\f2d3";
$ionicon-android-person: "\f3a0";
$ionicon-at: "\f10f";
$ionicon-ios-arrow-thin-left: "\f3d5";
$ionicon-ios-arrow-thin-right: "\f3d6";
$ionicon-social-bitcoin: "\f2af";
$ionicon-social-dribbble-outline: "\f22c";
$ionicon-social-facebook: "\f231";
$ionicon-social-github: "\f233";
$ionicon-social-linkedin: "\f239";
$ionicon-social-rss: "\f23d";
$ionicon-social-twitter: "\f243";

.#{$ionicons-prefix}flickr:before {
  content: $ionicon-android-camera;
}
.#{$ionicons-prefix}about:before {
  content: $ionicon-android-person;
}
.#{$ionicons-prefix}email:before {
  content: $ionicon-at;
}
.#{$ionicons-prefix}arrow-left:before {
  content: $ionicon-ios-arrow-thin-left;
}
.#{$ionicons-prefix}arrow-right:before {
  content: $ionicon-ios-arrow-thin-right;
}
.#{$ionicons-prefix}bitcoin:before {
  content: $ionicon-social-bitcoin;
}
.#{$ionicons-prefix}dribbble:before {
  content: $ionicon-social-dribbble-outline;
}
.#{$ionicons-prefix}facebook:before {
  content: $ionicon-social-facebook;
}
.#{$ionicons-prefix}github:before {
  content: $ionicon-social-github;
}
.#{$ionicons-prefix}linkedin:before {
  content: $ionicon-social-linkedin;
}
.#{$ionicons-prefix}rss:before {
  content: $ionicon-social-rss;
}
.#{$ionicons-prefix}twitter:before {
  content: $ionicon-social-twitter;
}
