// =============================================================================
// ScrollAppear
// =============================================================================

.appear {
  visibility: hidden;
  opacity: 0;
}

.appeared {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
