// =============================================================================
// Tags
// =============================================================================

.tags-page-header {
  margin-top: 0px;
}

.tags-page {
  text-align: center;
  padding: 50px 0;
  h1 {
    margin: 0 0 15px 0;
  }
}

.tag-cloud {
  text-decoration: none;
}