---
layout: default
---

{% if site.tags[page.slug] %}
  <ul class="article-list">
    {% for post in site.tags[page.slug] %}
      <li class="article-list-item {% if site.scrollappear_enabled %}scrollappear{% endif %}">
        <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
          <h5>{{ post.title }}</h5>
        </a>
        <p>
          {% if post.description %}
            {{ post.description }}  
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
        {% include article/info-footer.html post=post %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="article-empty">
    There are no posts in {{ page.slug }}.
  </p>
{% endif %}
