// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding: 25px 0 75px;
  border-top: 1px solid $base-border-color;
  p {
    color: $gray-light;
  }
}
